<div class="card columns my-2 mx-0 is-centered">
  <div class="card-content column">
    <div class="media">
      {{#if traveller.image}}
      <div class="media-left">
        <figure class="image is-32x32">
          <img class="is-rounded" src="{{traveller.image}}" alt="user avatar">
        </figure>
      </div>
      {{/if}}
      <div class="media-content">
        <div class="content is-medium">{{traveller.username}}</div>
      </div>
    </div>

    <a href="/post/{{id}}">
      <h4 class="title is-4 mb-2">{{title}}</h4>
    </a>
    <p class="content">{{truncate text 300}}</p>
    <p>{{format_date createdAt}}</p>
  </div>

  {{#if image}}
  <div class="card-image column">
    <figure class="image">
      <img src="{{image}}" alt="">
    </figure>
  </div>
  {{/if}}
</div>