<div class="card columns is-centered my-2 mx-0">
  <div class="card-content column mx-3">
    <a href="/dashboard/post/{{id}}">
      <h4 class="title is-4 mb-2">{{title}}</h4>
    </a>
    <p class="content">{{truncate text 300}}</p>
    <p>{{format_date createdAt}}</p>
  </div>

  {{#if image}}
  <div class="card-image column">
    <figure class="image">
      <img src="{{image}}" alt="">
    </figure>
  </div>
  {{/if}}
</div>