<section class="card">
  <header>
    <h3>{{post.title}}</h3>
    <span>Powered by {{post.traveller.username}} on {{format_date post.createdAt}} at {{format_time post.createdAt}}</span>
  </header>
  <p>{{post.text}}</p>
</section>
{{#each post.comments as |comment|}}
{{> comment-details}}
{{/each}}
{{#if loggedIn}}
<section class="card">
  <header>
    <h3>Comment</h3>
  </header>
  <div>
  <textarea name="comment" id="comment" rows="5"></textarea>
  <button class="btn comment-btn">Submit</button>
  </div>
</section>
<script src="/js/addComment.js"></script>
{{/if}}